html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --background-light: #FFFDFB;
  --background-medium: #FAF4EC;
  --background-dark: #4A4A4A;
  --main-orange: #EEE2D2;
  --main-white: white:
}

h1, h2, h3, h4, p{
  margin: 0px;
  padding: 0px;
}

