html {
  font-family: 'Inter', sans-serif;
  --background-light: #FFFDFB;
  --background-medium: #FAF4EC;
  --background-dark: #4A4A4A;
  --main-orange: #EEE2D2;
  --main-white: #ffffff;

  background: var(--background-light);
}

body{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: var(--background-dark);
}

h1, h2, h3, h4, p{
  margin: 0px;
  padding: 0px;
  color: var(--background-dark);
}

.bold{
  font-weight: 800;
}

.underline{
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Navbar */
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 5vh;
  margin-top: 40px;
}

.footer-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--background-medium);
  padding: 28px 0px;
}

.navbar-container p{
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}

.navbar-container p:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navbar-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left img{
  width: 60px;
  margin-right: 15px;
  cursor: pointer;
}

/* Top */
.top-container{
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.top-top{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  height: 75vh;
  align-items: center;
}

.top-subtitle{
  font-size: 30px;
  font-weight: 300;
}

.top-left{
  display: flex;
  flex-direction: column;
}

.top-left img{
  width: 495px;
}

.globe-image{
  width: 188px;
  cursor: pointer;
}

.top-buttons{
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  height: 20vh;
}

.top-buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 8px;
  width: 380px;
  height: 71px;
  border-radius: 5px;
  border: 4px solid var(--background-light);
  background-color: var(--background-light);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.top-buttons button:hover{
  background-color: var(--background-medium);
  border-color: var(--background-medium);;
}

.top-buttons button img{
  width: 24px;
  height: 24px;
}

.top-buttons button p{
  font-size: 20px;
  font-weight: 400;
}

/* Mid */

.mid-navigator{
  align-self: center;
  margin-bottom: 75px;
  position: relative;
}

.mid-navigator img{
  width: 250px;
  z-index: 20;
}

.dot1, .dot2, .dot3{
  height: 7px;
  width: 7px;
  background-color: var(--background-dark);
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  transition: ease-in 0.3s;
  z-index: -1;
}


.dot1{
  left: 69px;
}

.dot2{
  left: 125px;
}

.dot3{
  left: 181px;
}

.nav-clickable1, .nav-clickable2 ,.nav-clickable3{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 16px;
  z-index: 10;
  cursor: pointer;
  background-color: #ff000000;
}

.nav-clickable1{
  left: 65px;
}

.nav-clickable2{
  left: 121px;
}

.nav-clickable3{
  left: 177px;
}


/* Work */

.work-container, .projects-container{
  width: 90vw;
  display: grid;
  gap: 30px 24px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 17px;
  margin-bottom: 110px;
}

.grid-image{
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 7px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.grid-image:hover{
  border: 7px solid #EEE2D2;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.grid-content{
  margin-left: 5px;
}

.grid-content p:not(:last-child){
  margin: 11px 0px;
}

.grid-content h3{
  margin-top: 15px;
}

/* About */

.about-container{
  width: 90vw;
  margin-bottom: 110px;
}

.about-img-text{
  display: flex;
  column-gap: 30px;
}

.about-img{
  min-width: 450px;
  height: 500px;
  border: 13px solid var(--background-medium);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img{
  width: 300px;
  border-radius: 5px;
}

.about-container h2{
  font-size: 50px;
  font-weight: 400;
}

.about-container p{
  font-size: 20px;
  line-height: 31px;
  margin: 30px 0px;
}

/* Resume */
.resume-container img{
  border-radius: 10px;
  border: 10px solid var(--background-medium);
  margin: 100px 0px;
  width: 80vw;
}

.resume-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer */
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--background-medium);
  padding: 28px 0px;
}

.footer-container p{
  font-size: 20px;
  font-weight: 300;
}

.social-links img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 7px solid var(--background-medium);
  margin: -4px;
  border-radius: 10px;
  transition: all 0.3s;
}

.social-links img:hover{
  border: 7px solid var(--background-light);
  background: var(--background-light);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.social-links{
  display: flex;
  column-gap: 30px;
}

.custom-cursor{
  cursor: default;
}